.footer {
    padding: 30px 0 0 0;
    background-color: $color-secondary;

    .copyright {
        background-color: #2d2d2d;
        margin: 0;
        padding: 14px 0;
        color: white;
        text-align: center;
        font-family: $font-secondary;
    }

}
